---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
---
<BaseLayout title="Portfolio">
  <main>
    <section class="min-h-screen flex flex-col items-center justify-center py-20">
      <Hero />
    </section>
  </main>
</BaseLayout>
